/* レコード詳細のスタイル */
.recordForm {
  padding: 10px;
  border: solid 0.1rem rgb(0,0,0,0.2);
  border-radius: 2%;
  margin: 1rem;
}

/* 部位-コンテナ */
.partContainer {
  display: flex;
  flex-wrap: wrap; /* 子要素の折り返し設定 */
  justify-content: center; /* 水平方向の配置設定 */
  padding: 0 20%;
  gap: 0 10px; /* 要素間の間隔を設定 */
  margin: 5px;
}

/* 部位-ラジオボタン */
.partRadio {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* ラベル間の下マージンを設定 */
  font-size: 1.3rem;
}

/* 種目-コンテナ */
.menuContainer {
  display: inline-block;
  margin: 5px;
}

/* 種目-ドロップダウン */
.menuSelect {
  width: auto;
  width: auto;
  height: 25px;
  font-size: 1rem;
  text-align: center;
}

/* セット数-コンテナ */
.setCountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 0.5rem;
}

/* セット数-入力フィールド */
.setCountInput{
  width: 50px;
  font-size: 1.2rem;
}

/* セット数-コンテナ */
.setCountContainer {
  margin: 5px;
}

/* 備考-コンテナ */
.noteContainer {
  margin: 5px;
}

/* 備考-テキストエリア */
.noteTextarea {
  font-size: 1rem;

}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* ボタン間のスペースを設定 */
  margin-top: 10px; /* 上部のマージンを設定 */
}
/* コピーボタン */
.copyButton {
  background-image: url('../../assets/copy.png');
  background-repeat: no-repeat;
  background-size: contain; /* 画像をボタン内に収める */
  background-position: center; /* 画像を中央に配置 */
  background-color: #ffffff;
  width: 40px; /* 画像に合わせてボタンの幅を設定 */
  height: 40px; /* 画像に合わせてボタンの高さを設定 */
  border: none; /* ボタンのボーダーを削除 */
  padding: 0; /* ボタンのパディングを削除 */
  cursor: pointer; /* カーソルをポインターに変更 */
  background-color: #ffffff;
}

/** 追加ボタン */
.addSetButton {
  background-image: url('../../assets/plus.png');
  background-repeat: no-repeat;
  background-size: contain; /* 画像をボタン内に収める */
  background-position: center; /* 画像を中央に配置 */
  background-color: #ffffff;
  width: 40px; /* 画像に合わせてボタンの幅を設定 */
  height: 40px; /* 画像に合わせてボタンの高さを設定 */
  border: none; /* ボタンのボーダーを削除 */
  padding: 0; /* ボタンのパディングを削除 */
  cursor: pointer; /* カーソルをポインターに変更 */
  background-color: #ffffff;
}

/** 削除ボタン */
.removeSetButton {
  background-image: url('../../assets/minus.png');
  background-repeat: no-repeat;
  background-size: contain; /* 画像をボタン内に収める */
  background-position: center; /* 画像を中央に配置 */
  background-color: #ffffff;
  width: 40px; /* 画像に合わせてボタンの幅を設定 */
  height: 40px; /* 画像に合わせてボタンの高さを設定 */
  border: none; /* ボタンのボーダーを削除 */
  padding: 0; /* ボタンのパディングを削除 */
  cursor: pointer; /* カーソルをポインターに変更 */
  background-color: #ffffff;
}

/** 送信ボタン */
.sendButton {
  margin: 15px;
  display       : inline-block;
  border-radius : 5cm;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 6px 12px;   /* 余白       */
  background    : #007fff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  font-size: 1rem;             /* フォントサイズ */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #007fff;    /* 枠の指定 */
}